<h1>Login or Register</h1>

  <form class="form" method="post">

    <div>
      <p class="name-help"></p>
    </div>
    <input type="text" class="username" placeholder="UserName">

    <div>
     <p class="password-help"></p>
   </div>
    <input type="password" class="password" placeholder="Password">

  </form>
  <input type="submit" class="submit" value="Login">
  <p>
    Need to register?
  </p>
  <input type="submit" class="submit" value="Register">
</div>
