<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src = '/javascripts/jquery.js'></script>
<script type="text/javascript" src = '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.less' />
  </head>
  <h1>Word Upp!</h1>
  <body>

    <!-- <p>Welcome to <%= title %></p> -->

  <script type="text/javascript" src="/javascripts/dictionary.js"></script>

  <h6> &copy; 2015-2016 Word Upp!</h6>

  </body>
</html>
