<!DOCTYPE html>
<html>
<script type="text/javascript" src= '/javascripts/jquery.js'></script>
<script type="text/javascript" src= '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
</head>

<h1>WordUpp!</h1>

<p>
  Dual purpose word app so you can stop asking people, "What does that even mean?!".
  Where the streets meet the books and you can now join in the cool kids' conversations.
</p>

<!-- loading custom app -->
<script src='/javascripts/dictionary.js'></script>
<script src='/javascripts/app.views.js'></script>

  <h6> &copy; 2016 WordUpp!</h6>

  </body>
</html>
