<!DOCTYPE html>
<html>
<script type="text/javascript" src= '/javascripts/jquery.js'></script>
<script type="text/javascript" src= '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
</head>

<h1>WordUpp!</h1>


<!-- loading custom app -->
<script src='/javascripts/dictionary.js'></script>
<script src='/javascripts/app.views.js'></script>

  <h6> &copy; 2015-2016 WordUpp!</h6>

  </body>
</html>
