<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.less" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>Yay</title>
  </head>
  <h1>WordUpp!</h1>
  <h3>
    Where the streets meet the books.
  </h2>
  <body>
    <%-body%>
  </body>
</html>
