<!DOCTYPE html>
<html>
  <head>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    <!-- Page Content goes here -->
    <title>Yay</title>
  </head>
  <body>
    <div class="navbar-fixed">
     <nav>
       <div class="nav-wrapper">
         <a href="#!" class="brand-logo center">WordUpp!</a>
     </div>
     </nav>
     <div class="header" class="col s12">
       <h6>Where the streets meet the books.</h6>
   </div>
   </div>
    <div class="valign-wrapper">
    <%-body%>
    </div>
        <footer class="page-footer">
               <div class="footer-container"> <ul class="right hide-on-med-and-down">
                </ul>
                 <div class="row">
                     <p class="grey-text text-lighten-4">WordUpp! is a word app for learning and looking up new words- so you can stop asking "What does that even mean?!" and join in all the cool kids' conversations!</p>
                   </div>
                 </div>
               </div>
               <div class="footer-copyright">
                 <div class="container">
                 © 2016 WordUpp!
                 </div>
               </div>
             </footer>
</body>
<link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
<meta charset="utf-8">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</html>
