<!-- <script type="text/javascript" src= '/javascripts/jquery.js'></script>
<script type="text/javascript" src= '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
<script src='/javascripts/dictionary.js'></script>
<script src='/javascripts/app.views.js'></script> -->

<h1>Register</h1>
<form action="/account/registration" method="post">
  <input type="text" name="username" value="" placeholder='Your Username'>
  <input type="password" name="password" value="" placeholder='secret password'>
   <input class="button-primary" type="submit" value="REGISTER">
</form>
