
<div class="row"
 class="center-align">
 <h4 class='center-align'>Register</h4>
    <form class="center-align" method="post"class="col s10" action="/account/registration">
      <div class="row" >
        <div class="input-field col s10">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name="username" value="" type="text" class="validate">
          <label for="icon_prefix">username</label>
        </div>
        <div class="input-field col s10">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_password" type="password"
          name="password" value="" class="validate">
          <label for="icon_password">password</label>
        </div>
      </div>
    <button type="submit" value="register">
      <!-- <a class="waves-effect waves-light btn-large"></a> -->
      submit</button>
    </form>
</div>
