<!-- <script type="text/javascript" src= '/javascripts/jquery.js'></script>
<script type="text/javascript" src= '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
<script src='/javascripts/dictionary.js'></script>
<script src='/javascripts/app.views.js'></script> -->

<h1>Register For An Account</h1>

  <form class="form" method="post" action="yourpage.html">

    <div>
      <p class="name-help">Please enter a Username.</p>
    </div>
    <input type="text" class="username" placeholder="Username">

    <div>
     <p class="email-help">Please enter your current email address.</p>
   </div>
    <input type="email" class="email" placeholder="Email">

    <div>
     <p class="password-help">Please choose a password.</p>
   </div>
    <input type="password" class="password" placeholder="Password">

    <div>
     <p class="password-help">Please confirm your password.</p>
   </div>
    <input type="password" class="password" placeholder="Confirm Email">

  </form>

  <input type="submit" class="submit" value="Register">
</div>
