<!-- <script type="text/javascript" src= '/javascripts/jquery.js'></script>
<script type="text/javascript" src= '/javascripts/underscore.js'></script>
<script type="text/javascript" src= '/javascripts/backbone.js'></script>
<script src='/javascripts/dictionary.js'></script>
<script src='/javascripts/app.views.js'></script> -->

<h1>Register</h1>
<form action="/registration" method="post">
  <input type="text" name="username" value="" placeholder='Your Username'>
  <input type="password" name="password" value="" placeholder='secret password'>
  <input type="submit" value="Create Account">
   <input class="button-primary" type="submit" value="REGISTER">
</form>

<form class="registration" method="post" action="/homepage">

    <div>
      <p class="name-help"></p>
      <input type="text" class="username" placeholder="Username">
    </div>

    <div>
     <p class="email-help"></p>
     <input type="email" class="email" placeholder="Email">
   </div>

    <div>
     <p class="password-help"></p>
     <input type="password" class="password" placeholder="Password">
   </div>

    <div>
     <p class="password-help"></p>
     <input type="password" class="password" placeholder="Confirm Password">
   </div>
   <input class="button-primary" type="submit" value="REGISTER">

  </form>
