<!-- needs a logout button to return to homepage -->
<!-- needs a search bar icon -->
<!--search bar icon will then expand on hover event  -->
<!--search results will populate per character entered  -->
<!--selecting a word from the results will bring you to the searchResult view  -->

<!--This page will display "Word of the day"  -->
<!-- Display the date -->
<!--Display pronunciation  -->
<!-- Display definition -->
<!--Display example sentence -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserHome</title>
  </head>
  <body>
    hello
  
  </body>
</html>
