<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='/javascripts/word.js'></script>
    <title>Word of the day</title>



  </head>
  <body>

    <h1>Word of the day</h1>

    <h2>Word</h2>
    <div id="wod"></div>

    <h3>Word_type</h3>
    <div id="type"></div>

    <h3>Pronunciation</h3>
    <div id="sound"></div>

    <h3>Example Sentence</h3>
    <div id="example"></div>

    <h3>Origin</h3>
    <div id="origin"></div>

    <title>Word of the Day</title>
  </head>
  <body>
This is the word of the day page.
  </body>
</html>
