<!-- needs a logout button to return to homepage -->
<!-- needs a search bar icon -->
<!--search bar icon will then expand on hover event  -->
<!--search results will populate per character entered  -->
<!--selecting a word from the results will bring you to the searchResult view  -->

<!--This page will display "Word of the day"  -->
<!-- Display the date -->
<!--Display pronunciation  -->
<!-- Display definition -->
<!--Display example sentence -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Word of the day</title>
  </head>
  <body>
    <h1>Word of the day</h1>

    <h2>the word goes here</h2>
    <li id="wod"></li>

    <h3>Pronunciation</h3>
    <li id="sound"></li>

    <h3>Definition</h3>
    <li id="meaning"></li>

    <h3>Example Sentence</h3>
    <li id="example"></li>

  </body>
</html>
